@use '../../../scss/mixins.scss' as *;


.price-filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: 14px;
    margin-bottom: 0.25rem;
  }

  select {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}