@use '../../../scss/mixins.scss' as *;


.price-filter {
  overflow: clip;
  transition: max-height .3s ease;


  &__container {
    padding: 0px 10px 14px;
    color: var(--font-text-color);
  
    @include flex(row, nowrap, space-between, center);
  }

  select {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}