@use '../../../scss/mixins.scss' as *;


.form-textarea {
  position: relative;
  margin-bottom: 40px;

  &__textarea {
    width: 100%;
    padding: 12px 12px;
    font-size: 14px;
    color: var(--font-text-color);
    border: none;
    outline: none;
    border: 1px solid var(--border-form-control);
    border-radius: 3px;
    resize: none;
    transition: all .3s ease;

    &:focus {
      border: 1px solid var(--border-dark);
    }
  }

  /* ---- ERROR MESSAGE ---- */
  &__error {
    margin-top: 2px;
    font-size: 14px;
    color: #dc3232;
    line-height: 1;

    &--small {
      top: 35px;
      font-size: 11px;
    }
  }
}