@use '../../../scss/mixins.scss' as *;


.product-container {
  width: 100%;
  overflow-x: clip;

  @include min-992px {
    width: 75%;
  }


  &__h5 {
    margin: 20px 0 0 15px;
    font-size: 24px;
    font-weight: 500;
  }

  &__pagination-wrapper {
    margin-top: 80px;
  }
}