@use '../../../scss/mixins.scss' as *;


.product-card {
  width: 100%;
  // border: 1px solid #ccc;
  border-radius: 10px;


  &__link {
    cursor: pointer;
  }

  &__img-wrapper {
    width: 100%;
    padding: 10px;
    overflow: clip;

    @include min-375px {
      padding: 10px 20px;
    }

    @include min-480px {
      padding: 10px;
    }

    &:hover {
      .product-card__img {
        transform: scale(1.05);
      }
    }
  }

  &__img {
    aspect-ratio: 1 / 1;
    width: 100%;
    transition: all .3s ease;
  }


  /* ---- description ---- */
  &__text-wrapper {
    margin-top: 10px;
    padding: 0px 10px 10px;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.3;
    color: var(--font-title-color);
    transition: all .2s ease;

    &:hover {
      color: var(--color-primary);
    }
  }

  &__price {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    text-transform: lowercase;
    color: var(--font-price-color);
  }
}