@use '../../../scss/mixins.scss' as *;


.product-card {
  width: 100%;
  border-radius: 10px;

  &--list {  
    margin-bottom: 20px;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    @include min-375px {
      @include flex(row, nowrap, flex-start, flex-start);
      gap: 5px;
   
      @include min-480px {
        gap: 10px;
      }
    }
  }


  &__link {
    width: 100%;
    cursor: pointer;

    &--list {
      @include min-375px {
        width: 30%;
        min-width: 110px;
      }
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    overflow: clip;

    @include min-480px {
      padding: 25px;
    }

    &:hover {
      .product-card__img {
        transform: scale(1.05);
      }
    }

    &--list {
      @include min-375px {
        padding: 10px;
      }

      @include min-480px {
        padding: 14px;
      }

      @include min-576px {
        padding: 16px;
      }

      @include min-768px {
        padding: 25px;
      }
    }
  }

  &__img {
    aspect-ratio: 1 / 1;
    width: 100%;
    transition: all .3s ease;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .04);
  }


  /* ---- description ---- */
  &__details {
    width: 100%;
    margin-top: 10px;
    padding: 0px 10px 10px;

    &--list {
      @include min-375px {
        width: 70%;
        margin-top: 0px;
      }
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 15px;
    text-transform: capitalize;
    line-height: 1.3;
    color: var(--font-title-color);
    transition: all .2s ease;

    &:hover {
      color: var(--color-primary);
    }

    &--list {
      @include min-768px {
        font-size: 20px;
      }
    }
  }

  &__description {
    display: none;

    &--list {
      @include min-768px {
        display: block;
        margin-bottom: 5px;
        font-size: 15px;
        color: var(--font-text-color);
      }
    }
  }

  &__price {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    text-transform: lowercase;
    color: var(--font-price-color);
  }
}