@use '../../../scss/mixins.scss' as *;

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include flex(column, nowrap, center, center);
  
  &__title {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
    text-transform: uppercase;

    animation: pulse-scale 4s infinite ease-in-out;
    display: inline-block;
    transition: transform 0.3s;

    @include min-576px {
      font-size: 32px;
    }
  }

  /* ANIMATIONS */
  @keyframes pulse-scale {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
  }
}