@use '../../../scss/mixins.scss' as *;


.variant-color-buttons {
  width: 100%;
  margin-bottom: 8px;

  @include flex(row, nowrap, flex-start, flex-start);
  gap: 3px;


  &__li {
    padding: 2px;
    border-radius: 50%;
    overflow: clip;
    border: 1px solid transparent;
    transition: all .2s ease;

    &:has(.variant-color-buttons__link:hover) {
      border: 1px solid var(--font-text-color);
    }

    &--active {
      border: 1px solid var(--border-dark);
    }
  }

  &__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;

    &--active {
      border: 1px solid var(--border-light);
    }
  }
}