@use '../../../scss/mixins.scss' as *;


.featured-skeleton {
  padding: 10px;
  width: 100%;
  background: var(--color-secondary);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #f3f3f3;
    animation: pulse-bg 2.8s ease-in-out infinite;
  }

  &__title {
    width: 80%;
    height: 15px;
    border-radius: 4px;
    
    margin-bottom: 10px;
    background: #f3f3f3;
    animation: pulse-bg 2.8s ease-in-out infinite;
  }

  &__rating {
    width: 20%;
    height: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    background: #f3f3f3;
    animation: pulse-bg 2.8s ease-in-out infinite;
  }

  &__price {
    width: 40%;
    height: 16px;
    border-radius: 4px;
    background: #f3f3f3;
    animation: pulse-bg 2.8s ease-in-out infinite;
  }
}


// --- Keyframes for smooth pulsing between two colors ---
@keyframes pulse-bg {
  0% {
    background-color: #f3f3f3;
  }

  50% {
    background-color: #e8e8e8;
  }

  100% {
    background-color: #f3f3f3;
  }
}