@use '../../../scss/mixins.scss' as *;


.variant {
  width: 100%;
  margin-top: 30px;

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 25px;

    @include flex(column, nowrap, center, flex-start);
    gap: 30px;

    @include min-768px {
      padding: 0 40px;
    }

    @include min-992px {
      flex-direction: row;
    }

    @include min-1280px {
      gap: 60px;
    }
  }

  /* ---- variant images ---- */
  &__images {
    width: 100%;

    @include min-992px {
      width: 40%;
    }

    @include min-1280px {
      width: 50%;
    }
  }

  /* ---- variant card ---- */
  &__info {
    width: 100%;

    @include min-992px {
      width: 60%;
    }

    @include min-1280px {
      width: 50%;
    }
  }

  &__name {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--font-title-color);

    @include min-768px {
      font-size: 28px;
    }
  }

  &__price {
    margin-bottom: 5px;
    font-size: 26px;
    color: var(--font-title-color);

    @include min-992px {
      margin-bottom: 20px;
    }
  }

  &__line-separator {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--line-separator-color);

    @include min-992px {
      margin-bottom: 20px;
    }
  }

  &__description {
    font-size: 18px;
    color: var(--font-text-color);
    line-height: 1.625;
    hyphens: none;
  }
}