@use '../../../scss/mixins.scss' as *;


.product-image-skeleton {
  position: relative;
  background-color: var(--color-secondary);
  overflow: clip;
  
  @include flex(row, nowrap, center, center);

  // if your product images are square, use aspect-ratio
  aspect-ratio: 1 / 1;
  // OR use a fixed height (e.g. height: 400px;)
  // height: 400px;

  &--thumbnail {
    margin: 0 5px;
    border: 2px solid transparent;
    border-radius: 5px;

    @include min-380px {
      border-radius: 10px;
    }
  }

  &__layer-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.04;
  }
}