@use '../../../scss/mixins.scss' as *;


.product-tabs {
  width: 100%;
  max-width: 1200px;
  margin: 60px auto 0px;
  padding: 0 25px;

  @include min-768px {
    padding: 0 40px;
  }


  &__ul {
    width: 100%;
    margin-bottom: 30px;

    @include flex(column, nowrap, center, flex-start);

    @include min-576px {
      flex-direction: row;
    }
  }

  &__li {
    width: 100%;

    @include min-576px {
        width: auto;
    }
  }

  &__btn {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: var(--font-title-color);
    border-bottom: 2px solid #E0E0E0;
    cursor: pointer;
    transition: all .5s ease;

    @include min-576px {
      width: auto;
      margin: 0 20px;
      text-align: center;
      border-bottom: 2px solid transparent;
    }
    
    &:hover {
      border-bottom-color: var(--color-primary);
    }
    
    &--active {
      border-bottom-color: var(--color-primary);
    }
  }

  /* ---- tabs container ---- */
  &__wrapper {
    width: 100%;
  }

  &__panel {
    display: none;

    &--active {
      display: block;
    }
  }

  &__p {
    font-size: 16px;
    line-height: 24px;
    color: var(--font-text-color);
    hyphens: none;
    white-space: pre-line;
  }


  /* ---- description ---- */
  &__description-ul {
    width: 100%;
    list-style-position: inside;

    @include min-992px {
      width: 90%;
      margin: auto;
    }
  }

  &__description-li {
    margin-bottom: 16px;
    font-size: 16px;
    text-align: justify;
    list-style-type: disc;
  }

  &__description-strong {
    color: var(--font-title-color);
    font-weight: bold;
  }

  &__description-span {
    color: var(--font-text-color);
    hyphens: none;
    line-height: 1.6;
  }


  /* ---- specs ---- */
  &__spec-container {
    width: 100%;
    list-style-position: inside;

    @include min-992px {
      width: 90%;
      margin: auto;
    }
  }

  &__spec-li {
    margin-bottom: 16px;
    font-size: 14px;
    list-style-type: disc;
  }

  &__spec-name {
    font-size: 16px;
    font-weight: 600;
  }

  &__spec-ul {
    margin-top: 10px;
    padding-left: 20px;
  }

  &__spec-value {
    margin-bottom: 6px;
    font-size: 16px;
    color: var(--font-text-color);
    list-style-type: disc;
  }


  /* ---- reviews ---- */
  &__comments {
    margin: 40px 0 0;

    @include min-576px {
      max-width: 570px;
      margin: auto;
    }
  }

  &__h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    color: var(--font-title-color);
  }

  &__comments-li {
    margin-bottom: 10px;

    @include min-576px {
      margin-bottom: 20px;
    }
  }

  /* ---- review ---- */
  &__comment {
    padding: 20px 0;
    border-top: 1px solid var(--border-primary);

    @include flex(row, nowrap, flex-start, flex-start);
  }

  &__comment-avatar {
    width: 55px;
    height: 55px;
    margin-right: 15px;

    @include min-576px {
      width: 60px;
      height: 60px;
      margin-right: 20px;
    }
  }

  &__comment-text-box {
    position: relative;
    width: 100%;
    min-height: 60px;
  }

  &__comment-stars-wrapper {
    display: none;

    @include min-576px {
      display: block;
    }
  }

  &__comment-h6 {
    font-size: 12px;
    color: var(--font-text-color);

    @include flex(row, nowrap, flex-start, center);

  }

  &__comment-strong {
    margin-right: 3px;
    font-size: 14px;
    font-weight: 700;
    color: var(--font-title-color);

    @include min-576px {
      font-size: 16px;
    }
  }

  &__comment-date {
    display: none;

    @include min-380px {
      display: block;
    }
  }

  &__comment-one-star-wrapper {
    margin-left: 7px;

    @include min-576px {
      display: none;
    }
  }

  &__comment-span {
    margin-left: 4px;
    font-style: italic;

    @include min-576px {
      display: none;
    }
  }

  &__comment-p {
    width: 100%;
    font-size: 14px;
    hyphens: none;
    color: var(--font-text-color);

    @include min-576px {
      width: 75%;
      font-size: 16px;
    }
  }
}