@use '../../../scss/mixins.scss' as *;


.featured {
  width: 100%;
  margin-top: 50px;


  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 25px;

    @include min-768px {
      padding: 0 40px;
    }
  }
}