@use '../../../scss/mixins.scss' as *;


.navbar {
  width: 100%;

  &__ul {
    width: 100%;
    @include flex(row, nowrap, center, center);
    gap: 15px;

    &--nav-links {
      display: none;
      gap: 30px;

      @include min-768px {
        display: flex;
      }
    }
  }

  &__li {
    position: relative;
  }

  &__nav-link {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--font-title-color);
    transition: all .3s ease;

    &:hover {
      color: var(--font-green-color);
    }
  }

  &__nav-link.active {
    color: var(--font-green-color);
  }
}