@use '../../../scss/mixins.scss' as *;


.color-filter {
  overflow: clip;
  transition: max-height .3s ease;


  &__li {
    padding: 0px 10px 14px;
    color: var(--font-text-color);

    @include flex(row, nowrap, space-between, center);
  }

  &__btn {
    cursor: pointer;

    @include flex(row, nowrap, space-between, center);
    gap: 8px;

    &:hover {
      .color-filter__span-name {
        color: var(--color-primary);
      }
    }
  }

  &__box-color {
    width: 16px;
    height: 16px;
    border: 1px solid var(--font-text-color);
    cursor: pointer;
  }

  &__span-name {
    transition: all .3s ease;

    &--active {
      color: var(--color-primary);
      font-weight: 500;
    }
  }

  &__span-count {
    font-size: 14px;
    color: #999;
  }

}