@use '../../../scss/mixins.scss' as *;


.store-contact {
  width: 100%;
  margin: 40px 0 70px;

  @include min-768px {
    margin-top: 60px;
  }

  @include min-992px {
    margin-top: 70px;
  }


  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 25px;

    @include flex(column, nowrap, center, center);
    gap: 70px;
    
    @include min-768px {
      padding: 0 40px;
    }

    @include min-992px {
      @include flex(row-reverse, nowrap, center, flex-start);
      gap: 30px;
    }
  }

  &__col {
    width: 100%;
  }
}