@use '../../../scss/mixins.scss' as *;


.pagination {
  /* - only appears in bigger screens - */
  display: none;

  @include min-576px {
    display: block;
  }


  &__container {
    @include flex(row, nowrap, center, center);
  }

  &__btn {
    padding: 0 12px;
    min-width: 48px;
    height: 48px;
    font-size: 16px;
    border-top: 1px solid #d5d9d9;
    border-bottom: 1px solid #d5d9d9;
    cursor: pointer;

    &:hover {
      background-color: #f5f6f6;
      ;
    }

    &--prev {
      position: relative;
      min-width: 80px;
      border-left: 1px solid #d5d9d9;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      padding-bottom: 2px !important;


      &::before {
        content: '';
        width: 1px;
        height: 32px;
        position: absolute;
        top: 7px;
        right: -1px;
        background: #d5d9d9;
        z-index: -1;
      }
    }

    &--next {
      position: relative;
      min-width: 80px;
      border-right: 1px solid #d5d9d9;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      padding-bottom: 2px !important;

      &::before {
        content: '';
        width: 1px;
        height: 32px;
        position: absolute;
        top: 7px;
        left: -1px;
        background: #d5d9d9;
        z-index: -1;
      }
    }

    &--active {
      color: #0f1111;
      font-weight: 700;
      border: 1px solid #0f1111;
      padding-left: 11px;
      padding-right: 11px;
      pointer-events: none;
    }

    &--disabled {
      color: #6f7373;
      ;
      pointer-events: none;

    }

    &--align {
      padding-bottom: 7px !important;
    }
  }
}