@use '../../../scss/mixins.scss' as *;


.header-actions {
  width: 100%;
  @include flex(row, nowrap, center, center);
  gap: 15px;

  &--links {
    width: auto;
    justify-content: flex-end;
    margin-right: 10px;

    @include min-480px {
      gap: 25px;
    }
  }

  &__li {
    position: relative;
  }
  
  &__user-icon {
    width: 18px;
    height: 18px;
  }
  
  &__magnifier-icon {
    width: 18px;
    height: 18px;
  }
  
  &__cart-icon {
    width: 18px;
    height: 20px;
    fill: none;
  }

  &__item-count {
    position: absolute;
    top: -10px;
    left: 16px;
    width: 20px;
    height: 20px;
    padding-left: 1px;
    border-radius: 50%;
    color: var(--color-secondary);
    background-color: var(--font-green-color);
    font-size: 12px;
    font-weight: 500;

    @include flex(row, nowrap, center, center);

    // hover here affects cart icon (siblings no matter their position)
    &:hover ~ .header-actions__cart-icon {
      color: var(--font-green-color);
    }
  }

}

