@use '../../../scss/mixins.scss' as *;


.error-element {
  position: absolute; // root-layout__main is position: relative
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__container {
    @include flex(column, nowrap, center, center);
  }

  &__title {
    font-weight: bold;
    font-size: 20px;

    @include min-480px {
      font-size: 30px;
    }
  }

  &__text {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    hyphens: none;
    line-height: 1.2;
    color: var(--font-text-color);

    @include min-480px {
      font-size: 20px;
    }
  }

  /* ---- link btn ---- */
  &__link {
    margin-top: 25px;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 3px;
    transition: all .3s ease;

    &:hover {
      background-color: var(--bg-hover-primary);
    }

    @include min-480px {
      margin-top: 30px;
      padding: 14px 30px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  /* ---- text error type ---- */
  &__text-error {
    margin-top: 10px;
    font-size: 10px;
    color: var(--font-text-color);

    @include min-480px {
      margin-top: 15px;
      font-size: 14px;
    }
  }
}