@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

/* Here we define the Custom properties */
:root {
  --color-primary: #00B074;
  --color-secondary: #FFFFFF;

  /* Typography */
  --type-principal: Helvetica, Arial, sans-serif;
  --type-secondary: Verdana;

  /* colors */
  --font-title-color: #2B3940;
  --font-text-color: #666565;
  --font-price-color: #8925DE;
  --font-price-old-color: rgba(24, 24, 24, 0.5);
  --font-light-color: #9a9a9a;

  --bg-hover-primary: #198754;
  --bg-secondary-button-color: #2B9BFF;
  --bg-hover-secondary: #0d6efd;
  --bg-table-td: #F6F6F6;
  --bg-valid-field: #6AD0A0;
  --bg-invalid-field: #E07878;
  --bg-profile-item-list: #F5F5F5;
  --bg-profile-photo: rgb(244, 244, 244);
  --bg-footer: #2A3940;

  --border-primary: #ECECEC;
  --border-light: #D1D1D6;
  --border-dark: #181818;
  --border-form-control: #D1D1D6;
  --border-input-radio-color: rgb(118, 118, 118);
  --line-separator-color: rgba(102, 102, 102, 0.15);
  --overlay-color: rgba(0, 0, 0, .3);

  --stars-color: #00B074;
}


/* We reset the margins and paddings of all labels */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}


/* We avoid problems with images */
img,
picture,
video,
iframe,
figure {
  // max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  object-fit: cover;
  /* optional */
  object-position: center center;
}


/* We reset the links to function as boxes... */
a {
  display: block;
}


/* ...except those within paragraphs */
p a {
  display: inline;
}


/* We remove the dots from the <li> */
li {
  list-style-type: none;
}


/* We configure soft anchors */
html {
  scroll-behavior: smooth;
}


/* We deactivate default styles of the main text labels */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}


/* We avoid problems with quotes pseudo-elements */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}


/* We configure the text we select */
::selection {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}


/* We level typography and form placement problems */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  box-sizing: border-box;
  /* optional */
  appearance: none;

}


/* We reset the tables */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}


/* We avoid problems with SVGs */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}


/* We configure the typography for the entire website */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: 'Outfit', 'Segoe UI', 'Segoe UI Symbol', sans-serif;
  color: var(--font-title-color);
  background-color: var(--color-secondary);
  /* optional */
  line-height: 1.3;
  /* optional */
  hyphens: auto;
  /* optional */
  font-smooth: always;
  /* optional */
  -webkit-font-smoothing: antialiased;
  /* optional */
  -moz-osx-font-smoothing: grayscale;

}


/* reset inputs */
input,
textarea,
select {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background: none;
  outline: none;
  /* Remove focus outline */
  box-shadow: none;
  /* Remove any box-shadow */
  font: inherit;
  /* Inherit the font properties from the parent */
  color: inherit;
  /* Inherit the text color */
  box-sizing: border-box;
  /* Include padding in the width calculation */
}

/* ---- remove the up and down arrows ---- */

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}