@use '../../scss/mixins.scss' as *;

.root-layout {
  width: 100%;
  min-height: 100vh;
  // background-color: var(--color-secondary );

  /* ---- This makes footer sticks at the bottom of the page ---- */
  @include flex(column, nowrap, flex-start, center);

  &__main {
    width: 100%;
    padding-top: 60px; //same as header height, bc header is position: fixed
    flex: 1; //when flex column this make main take all available space in container

    @include min-768px {
      padding-top: 80px
    }
  }
}