

.category-card-skeleton {
  position: relative;
  width: 100%;
  padding: 0 10px;
  border-radius: 20px;
  overflow: hidden;
  background: var(--color-secondary);

  &__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #f3f3f3;
    border-radius: 20px;
    animation: pulse-bg 2.8s ease-in-out infinite;
  }

  &__btn {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    background: #dadada;
  }
}


// --- Keyframes for smooth pulsing between two colors ---
@keyframes pulse-bg {
  0% {
    background-color: #f3f3f3;
  }

  50% {
    background-color: #e8e8e8;
  }

  100% {
    background-color: #f3f3f3;
  }
}